In [1]:
import pandas as pd
import numpy as np

In [4]:
data = np.random.rand(4,3)

In [5]:
data

array([[0.93602025, 0.18186223, 0.44022932],
       [0.44912956, 0.67494651, 0.06918529],
       [0.77438091, 0.16605067, 0.20346378],
       [0.33646387, 0.11703642, 0.74491573]])

In [6]:
dataFrame = pd.DataFrame(data)

In [7]:
dataFrame

          0         1         2
0  0.936020  0.181862  0.440229
1  0.449130  0.674947  0.069185
2  0.774381  0.166051  0.203464
3  0.336464  0.117036  0.744916

In [8]:
dataFrame[0] #kolon

0    0.936020
1    0.449130
2    0.774381
3    0.336464
Name: 0, dtype: float64

In [9]:
type(dataFrame[0])

pandas.core.series.Series

In [11]:
yeniDataFrame = pd.DataFrame(data,index=["Satır1","Satır2","Satır3","Satır4"],columns=["Kolon1","Kolon2","Kolon3"])

In [12]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464
Satır4  0.336464  0.117036  0.744916

In [13]:
yeniDataFrame["Kolon1"]

Satır1    0.936020
Satır2    0.449130
Satır3    0.774381
Satır4    0.336464
Name: Kolon1, dtype: float64

In [16]:
yeniDataFrame[["Kolon2","Kolon3"]]

          Kolon2    Kolon3
Satır1  0.181862  0.440229
Satır2  0.674947  0.069185
Satır3  0.166051  0.203464
Satır4  0.117036  0.744916

In [17]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464
Satır4  0.336464  0.117036  0.744916

In [18]:
#yeniDataFrame["Satır1"] #bu yol ile satır alınmaz

In [19]:
yeniDataFrame.loc["Satır1"] #location

Kolon1    0.936020
Kolon2    0.181862
Kolon3    0.440229
Name: Satır1, dtype: float64

In [20]:
yeniDataFrame.loc["Satır4"]

Kolon1    0.336464
Kolon2    0.117036
Kolon3    0.744916
Name: Satır4, dtype: float64

In [21]:
yeniDataFrame.iloc[1] #index location

Kolon1    0.449130
Kolon2    0.674947
Kolon3    0.069185
Name: Satır2, dtype: float64

In [22]:
yeniDataFrame.loc["Satır2"]

Kolon1    0.449130
Kolon2    0.674947
Kolon3    0.069185
Name: Satır2, dtype: float64

In [23]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464
Satır4  0.336464  0.117036  0.744916

In [24]:
yeniDataFrame["Emeklilik Yasi"] = yeniDataFrame["Kolon1"] + yeniDataFrame["Kolon1"] #kolon ekleme

In [25]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3  Emeklilik Yasi
Satır1  0.936020  0.181862  0.440229        1.872041
Satır2  0.449130  0.674947  0.069185        0.898259
Satır3  0.774381  0.166051  0.203464        1.548762
Satır4  0.336464  0.117036  0.744916        0.672928

In [26]:
#silme

In [28]:
#yeniDataFrame.drop("Emeklilik Yasi") #hata

In [29]:
yeniDataFrame.drop("Emeklilik Yasi",axis=1)

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464
Satır4  0.336464  0.117036  0.744916

In [30]:
yeniDataFrame.drop("Satır4") #axis = 0

          Kolon1    Kolon2    Kolon3  Emeklilik Yasi
Satır1  0.936020  0.181862  0.440229        1.872041
Satır2  0.449130  0.674947  0.069185        0.898259
Satır3  0.774381  0.166051  0.203464        1.548762

In [31]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3  Emeklilik Yasi
Satır1  0.936020  0.181862  0.440229        1.872041
Satır2  0.449130  0.674947  0.069185        0.898259
Satır3  0.774381  0.166051  0.203464        1.548762
Satır4  0.336464  0.117036  0.744916        0.672928

In [32]:
#silmel için ayrıca belirt
yeniDataFrame.drop("Emeklilik Yasi",axis=1,inplace=True)

In [33]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464
Satır4  0.336464  0.117036  0.744916

In [34]:
yeniDataFrame.drop("Satır4",inplace=True)

In [35]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464

In [37]:
#işlemler

In [38]:
yeniDataFrame.loc["Satır1"]["Kolon1"]

0.9360202505503222

In [39]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464

In [40]:
yeniDataFrame < 0

        Kolon1  Kolon2  Kolon3
Satır1   False   False   False
Satır2   False   False   False
Satır3   False   False   False

In [41]:
yeniDataFrame > 0

        Kolon1  Kolon2  Kolon3
Satır1    True    True    True
Satır2    True    True    True
Satır3    True    True    True

In [42]:
boolFrame = yeniDataFrame < 0

In [43]:
boolFrame

        Kolon1  Kolon2  Kolon3
Satır1   False   False   False
Satır2   False   False   False
Satır3   False   False   False

In [45]:
yeniDataFrame[boolFrame] #sadece 0 dan kucukler gozokur

        Kolon1  Kolon2  Kolon3
Satır1     NaN     NaN     NaN
Satır2     NaN     NaN     NaN
Satır3     NaN     NaN     NaN

In [46]:
yeniDataFrame[yeniDataFrame < 0]

        Kolon1  Kolon2  Kolon3
Satır1     NaN     NaN     NaN
Satır2     NaN     NaN     NaN
Satır3     NaN     NaN     NaN

In [47]:
#kolonlar arası
yeniDataFrame["Kolon1"]

Satır1    0.936020
Satır2    0.449130
Satır3    0.774381
Name: Kolon1, dtype: float64

In [50]:
yeniDataFrame[yeniDataFrame["Kolon1"]>0.5]

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır3  0.774381  0.166051  0.203464

In [51]:
#Indeks Değiştirme

In [52]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464

In [55]:
yeniDataFrame.reset_index() #resetle index

    index    Kolon1    Kolon2    Kolon3
0  Satır1  0.936020  0.181862  0.440229
1  Satır2  0.449130  0.674947  0.069185
2  Satır3  0.774381  0.166051  0.203464

In [56]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3
Satır1  0.936020  0.181862  0.440229
Satır2  0.449130  0.674947  0.069185
Satır3  0.774381  0.166051  0.203464

In [60]:
yeniIndexListesi = ["A","B","C"]

In [61]:
yeniDataFrame["Yeni Indeks"] = yeniIndexListesi

In [62]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3 Yeni Indeks
Satır1  0.936020  0.181862  0.440229           A
Satır2  0.449130  0.674947  0.069185           B
Satır3  0.774381  0.166051  0.203464           C

In [63]:
yeniDataFrame.set_index("Yeni Indeks") #index sayarla

               Kolon1    Kolon2    Kolon3
Yeni Indeks
A            0.936020  0.181862  0.440229
B            0.449130  0.674947  0.069185
C            0.774381  0.166051  0.203464

In [64]:
yeniDataFrame

          Kolon1    Kolon2    Kolon3 Yeni Indeks
Satır1  0.936020  0.181862  0.440229           A
Satır2  0.449130  0.674947  0.069185           B
Satır3  0.774381  0.166051  0.203464           C

In [65]:
yeniDataFrame.set_index("Yeni Indeks", inplace=True) #index sayarla

In [66]:
yeniDataFrame

               Kolon1    Kolon2    Kolon3
Yeni Indeks
A            0.936020  0.181862  0.440229
B            0.449130  0.674947  0.069185
C            0.774381  0.166051  0.203464

In [69]:
yeniDataFrame.loc["A"]

Kolon1    0.936020
Kolon2    0.181862
Kolon3    0.440229
Name: A, dtype: float64