In [9]:
import pandas as pd
import numpy as np

In [10]:
pd.read_excel("/home/denshn/Belgeler/btk-akademi-tensorflow/pandas/deniz.xlsx")

AttributeError: module 'numpy' has no attribute 'float'.
`np.float` was a deprecated alias for the builtin `float`. To avoid this error in existing code, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [11]:
pd.read_csv("deniz.csv")

  Unnamed: 0  Maas   Yas  Departman
0      Deniz   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [12]:
dataFrame = pd.read_csv("deniz.csv")

In [13]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0      Deniz   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [15]:
doluDF =dataFrame.dropna()

In [16]:
doluDF

  Unnamed: 0  Maas   Yas  Departman
0      Deniz   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
3      Ahmet    50  10.0  Pazarlama
5      Fatma   200  25.0      Hukuk

In [17]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0      Deniz   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [18]:
doluDF.to_csv("yenimaas.csv")

In [19]:
doluDF.to_excel("yenimaas.xlsx")

AttributeError: module 'numpy' has no attribute 'float'.
`np.float` was a deprecated alias for the builtin `float`. To avoid this error in existing code, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations