In [1]:
import pandas as pd
import numpy as np

In [2]:
ilkIndeksler = ["Simpson","Simpson","Simpson","South Park","South Park","South Park"]

In [3]:
icIndeksler = ["Homer","Bart","Marge","Cartman","Kenny","Kyle"]

In [4]:
birlesimisIndeks = list(zip(ilkIndeksler,icIndeksler))

In [5]:
birlesimisIndeks

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

In [6]:
birlesimisIndeks = pd.MultiIndex.from_tuples(birlesimisIndeks)

In [7]:
birlesimisIndeks

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [8]:
type(birlesimisIndeks)

pandas.core.indexes.multi.MultiIndex

In [12]:
benimCizgiFilmListem = [[40,"A"],[30,"B"],[9,"D"],[123,"F"],[32423,"H"],[423,"R"]]

In [13]:
cizgiFilmNumpyDizisi = np.array(benimCizgiFilmListem)

In [14]:
cizgiFilmDataFrame = pd.DataFrame(cizgiFilmNumpyDizisi,index=birlesimisIndeks,columns=["Yas","Meslek"])

In [15]:
cizgiFilmNumpyDizisi

array([['40', 'A'],
       ['30', 'B'],
       ['9', 'D'],
       ['123', 'F'],
       ['32423', 'H'],
       ['423', 'R']], dtype='<U21')

In [16]:
birlesimisIndeks

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [17]:
cizgiFilmDataFrame

                      Yas Meslek
Simpson    Homer       40      A
           Bart        30      B
           Marge        9      D
South Park Cartman    123      F
           Kenny    32423      H
           Kyle       423      R

In [18]:
cizgiFilmDataFrame.loc["Simpson"]

      Yas Meslek
Homer  40      A
Bart   30      B
Marge   9      D

In [19]:
cizgiFilmDataFrame.loc["South Park"]

           Yas Meslek
Cartman    123      F
Kenny    32423      H
Kyle       423      R

In [20]:
cizgiFilmDataFrame.loc["South Park"].loc["Kenny"]

Yas       32423
Meslek        H
Name: Kenny, dtype: object

In [21]:
cizgiFilmDataFrame

                      Yas Meslek
Simpson    Homer       40      A
           Bart        30      B
           Marge        9      D
South Park Cartman    123      F
           Kenny    32423      H
           Kyle       423      R

In [22]:
#index ismi verme

In [23]:
cizgiFilmDataFrame.index.names = ["FilmAdı","İsim"]

In [24]:
cizgiFilmDataFrame

                      Yas Meslek
FilmAdı    İsim
Simpson    Homer       40      A
           Bart        30      B
           Marge        9      D
South Park Cartman    123      F
           Kenny    32423      H
           Kyle       423      R