In [1]:
import pandas as pd
import numpy as np

In [2]:
benimSozlugum = {"Denizhan":20,"Deniz":40,"Han":30}

In [3]:
pd.Series(benimSozlugum)

Denizhan    20
Deniz       40
Han         30
dtype: int64

In [4]:
print(pd.Series(benimSozlugum))

Denizhan    20
Deniz       40
Han         30
dtype: int64

In [6]:
type(benimSozlugum)

dict

In [7]:
type(pd.Series(benimSozlugum))

pandas.core.series.Series

In [8]:
benimYaslarim = [50,40,30]
benimIsimlerim = ["Denizhan","Deniz","Han"]

In [9]:
pd.Series(benimYaslarim)

0    50
1    40
2    30
dtype: int64

In [10]:
pd.Series(benimIsimlerim)

0    Denizhan
1       Deniz
2         Han
dtype: object

In [11]:
pd.Series(benimYaslarim,benimIsimlerim)

Denizhan    50
Deniz       40
Han         30
dtype: int64

In [13]:
pd.Series(data=benimYaslarim, index=benimIsimlerim)

Denizhan    50
Deniz       40
Han         30
dtype: int64

In [14]:
numpyDizisi = np.array([50,40,30])

In [15]:
numpyDizisi

array([50, 40, 30])

In [16]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int64

In [18]:
pd.Series(numpyDizisi,benimIsimlerim)

Denizhan    50
Deniz       40
Han         30
dtype: int64

In [19]:
pd.Series(["Deniz","Denizhan","Han"])

0       Deniz
1    Denizhan
2         Han
dtype: object

In [20]:
pd.Series(["Deniz","Denizhan","Han"],[1,2,3])

1       Deniz
2    Denizhan
3         Han
dtype: object

In [21]:
yarismaSonucu1 = pd.Series([10,5,1],["Deniz","Denizhan","Han"])

In [22]:
yarismaSonucu1

Deniz       10
Denizhan     5
Han          1
dtype: int64

In [23]:
yarismaSonucu2 = pd.Series([20,10,8],["Denizhan","Deniz","Han"])

In [24]:
yarismaSonucu2

Denizhan    20
Deniz       10
Han          8
dtype: int64

In [25]:
yarismaSonucu2["Deniz"]

10

In [26]:
sonsonuc = yarismaSonucu1 + yarismaSonucu2

In [27]:
sonsonuc

Deniz       20
Denizhan    25
Han          9
dtype: int64

In [28]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [29]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [30]:
farkliSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [31]:
farkliSeries + farkliSeries2 #sadece birbiri ile kesisen yerler toplandÄ±

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64